<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Sweet</string>
	<string>Purple</string>
	<string>Circle</string>
	<string>French</string>
	<string>Cake</string>
	<string>Corn</string>
	<string>Corn</string>
	<string>Orange</string>
	<string>Lettuce</string>
	<string>Apples</string>
</array>
</plist>
