<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Sour</string>
	<string>Blue</string>
	<string>Sphere</string>
	<string>Swiss</string>
	<string>Donuts</string>
	<string>Grapes</string>
	<string>Celery</string>
	<string>Black</string>
	<string>Green Beans</string>
	<string>Watermelon</string>
</array>
</plist>
