<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Spicy</string>
	<string>Red</string>
	<string>Square</string>
	<string>American</string>
	<string>Cookies</string>
	<string>Pear</string>
	<string>Carrot</string>
	<string>Red</string>
	<string>Peas</string>
	<string>Potatos</string>
</array>
</plist>
