<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Tart</string>
	<string>Yellow</string>
	<string>Rectangle</string>
	<string>Chedder</string>
	<string>Salad</string>
	<string>Banana</string>
	<string>Peach</string>
	<string>Yellow</string>
	<string>Potato</string>
	<string>Carrots</string>
</array>
</plist>
