<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Sweet</string>
	<string>Yellow</string>
	<string>Sphere</string>
	<string>French</string>
	<string>Salad</string>
	<string>Corn</string>
	<string>Peach</string>
	<string>Orange</string>
	<string>Potato</string>
	<string>Apples</string>
</array>
</plist>
